.card {
  background-color: $neutral-900;
  border-radius: 5px;
  border: 1px solid $neutral-700;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;

  &__name {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $neutral-300;
  }

  &__description {
    color: $neutral-500;
    font-size: 0.9rem;
    line-height: 1.5;
  }
}
