.card {
  background-color: $color-neutral-700;
  border-radius: $size-2-and-half;
  box-shadow: $box-shadow;
  padding: $size-3-and-half;
  text-align: center;
  border: $size-px solid $color-amber-950;

  &__name {
    font-weight: bold;
    color: $color-neutral-100;
  }

  &__description {
    color: $color-neutral-200;
  }
}
